body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
form#send-message { display: none; }
section#nicknames { width: 300px; float: right; }
textarea#message { width: 300px; height: 100px; }
section#messages p strong { margin-right: 5px; }